/* login.css */

/* Existing styles for Login component */
.login-container {
    max-width: 300px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Background color for the login form */
  }
  
  .login-form-group {
    margin-bottom: 15px;
  }
  
  .login-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-error-message {
    color: red;
    margin-top: 10px;
  }
  
  .login-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .login-button:hover {
    background-color: #45a049;
  }
  
  .login-p {
    margin-top: 15px;
  }
  
  .login-link {
    color: #3498db;
    text-decoration: none;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }
  
  /* New class for center alignment */
  .center-align {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  
  .login-error-message {
    color: red;
    margin-top: 10px;
  }
  
  .login-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .login-button:hover {
    background-color: #45a049;
  }
  
  .login-p {
    margin-top: 15px;
  }
  
  .login-link {
    color: #3498db;
    text-decoration: none;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }
  